<p style="color: green"><%= notice %></p>

<h1 style="border-bottom: 3px solid green">Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
   
    <p>
      <%= link_to "Show this user", user %>
    </p>
    <hr>
  <% end %>
</div>
<%= will_paginate %>
<%= link_to "New user", signup_path %>
